<%# <nav class="flex items-center justify-between flex-wrap bg-indigo-light p-6">
  <div class="flex items-center flex-no-shrink text-white mr-6">
    <span class="font-heading text-4xl tracking-wide ">ShuFi</span>
  </div>
  <div class="w-full block flex-grow justify-end lg:flex lg:items-end lg:w-auto">
    <div class="text-sm lg:flex-grow self-end justify-end">
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white">
        Config
      </a>
    </div>
  </div>
</nav> %>
<nav class="bg-indigo-light mb-12">
  <div class="flex items-center  justify-between mx-auto max-w-2xl px-4 py-6">
    <div class="flex items-center text-white mr-6 cursor-pointer select-none">
      <span class="font-heading text-4xl">ShuFi</span>
    </div>
    <div class="flex items-center">
      <a href="/config" class="block text-grey-light hover:text-grey-lighter">Config</a>
    </div>
  </div>
</nav>