@tailwind preflight;
@tailwind components;

.loader {
  @apply .border-4 .border-indigo-light .rounded-full;
  @apply .h-8 .w-8;

  border-bottom-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.primary-input {
  @apply rounded-full text-grey-darker border-2 border-indigo;
}
.primary-input:focus {
  @apply outline-none shadow-outline;
}

@tailwind utilities;